ul{
    display: block;
    padding:0;
    margin: 0;
}
ul li{
    margin: 0;
    padding: 0;
    display: inline-block;
}
ul li a{
    text-decoration: none;
}
h1, h2, h3, h4, h5{
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-weight: 100;
    text-transform: uppercase;
}

body{
    background: url(http://127.0.0.1:5500/loopstudios-landing-page-main/assets/images/desktop/image-hero.jpg) no-repeat;
    background-size: 100% 400px;

}
header{
    padding-top: 30px;
}

header h1{
    text-decoration: none;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    color: white;
    width: 54%;
    font-weight: 200;
    border: 2px white solid;
    padding: 20px;
    margin-top: 40px;
    line-height: 1.05;
}

nav ul {
    float: right;
    text-align: right;
}

nav ul li a{
    color:#fff;
    margin-left: 10px;
    transition: .2s;
    padding-bottom: 10px;
}

nav ul li a:hover{
    border-bottom: 3px white solid;
}


#project-desctiption{
    position: relative;
    margin-top: 12em;
    background:url(http://127.0.0.1:5500/loopstudios-landing-page-main/assets/images/desktop/image-interactive.jpg) no-repeat, #fff;
    background-size: 60% auto;
}

#project-desctiption h2 {
    font-weight: 100;
    text-transform: uppercase;
}

#project-desctiption p{
    font-size: 12px;
    font-weight: 400;
}
#project-desctiption .wb-class{
    background: white;
    padding: 20px;
    position: relative;
    margin-top: 100px;
}
 .card{
    width:100%;
    height:250px;
    position:relative;
}
 .card h3{
    font-size: 0.9em;
    font-weight: 100;
    position:absolute;
    bottom: 10px;
    color:#fff;
}

.card{
    background: white;
    background-size: 100%;
    padding: 10px;
}

.card.deep-earth-card{
    background:url("../../assets/images/desktop/image-deep-earth.jpg");
}
.card.night-arcade-card{
    background:url("../../assets/images/desktop/image-night-arcade.jpg");
}
.card.soccer-team-card{
    background:url("../../assets/images/desktop/image-soccer-team.jpg");
}
.card.grid-card{
    background:url("../../assets/images/desktop/image-grid.jpg");

}
.card.from-above-card{
    background:url("../../assets/images/desktop/image-from-above.jpg");
}
.card.borealis-card{
    background:url("../../assets/images/desktop/image-pocket-borealis.jpg");
}
.card.fisheye-card{
    background:url("../../assets/images/desktop/image-fisheye.jpg");

}
.card.curiosity-card{
    background:url("../../assets/images/desktop/image-curiosity.jpg");
}
.card .filter{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #00000063;
    top: 0;
    left: 0;
    transition: 0.3s;
}

.card .filter:hover{
    background: #87878763;
}
#showcase button{
    background: white;
    color: black;
    text-transform: uppercase;
    font-size: 12px;
    padding: 5px 20px;
    float: right;
    border: 2px black solid;
    font-weight: bold;
    transition: .3s;
}

#showcase button:hover{
    background:black;
    color: white;
}

footer{
    background: black;
    color: white;
    margin-top: 3em;
    padding: 20px 0;
}
footer ul#social-media-part{
    float: right;
}
footer ul#social-media-part li{
    margin-left: 20px;
}

footer ul#social-media-part li a{
    transition:.3s;
    padding-bottom: 15px;
}

footer ul#social-media-part li a:hover{
    border-bottom: 2px white solid;
}

footer #auxilary-menu li a{
    color: white;
    font-size: 12px;
    margin-right: 10px;
    font-weight: 200;
    transition: .3s;
    padding-bottom: 10px;
}

footer #auxilary-menu li a:hover{
    border-bottom: 2px white solid;
}

footer .copyright{
    font-size: 12px;
    float: right;
    color: #878787;
}

.menu-icon{
    display: none;
}

@media (max-width: 769px) {

    .menu-icon{
        display:inline-block;
        float:right;
        position: absolute;
        right: 0;
        top: 12px;
    }

    nav ul{
        display:none;
    }
    
    #project-desctiption {
        margin-top: 9em;
    }
    header h1{
        width: 100%;
    }

    #project-desctiption {
        background-size: 100% auto;
        background-position: top;
        padding-top: 40vw;
    }
    .wb-class{
        width:96%;
    }
    .card{
        height: 240px;
    }

    .card.deep-earth-card{
        background:url("../../assets/images/mobile/image-deep-earth.jpg");
    }
    .card.night-arcade-card{
        background:url("../../assets/images/mobile/image-night-arcade.jpg");
    }
    .card.soccer-team-card{
        background:url("../../assets/images/mobile/image-soccer-team.jpg");
    }
    .card.grid-card{
        background:url("../../assets/images/mobile/image-grid.jpg");
    
    }
    .card.from-above-card{
        background:url("../../assets/images/mobile/image-from-above.jpg");
    }
    .card.borealis-card{
        background:url("../../assets/images/mobile/image-pocket-borealis.jpg");
    }
    .card.fisheye-card{
        background:url("../../assets/images/mobile/image-fisheye.jpg");
    
    }
    .card.curiosity-card{
        background:url("../../assets/images/mobile/image-curiosity.jpg");
    }
    footer{
        text-align: center;
    }

    footer ul#social-media-part, footer .copyright{
        float: none;
    }

    footer #auxilary-menu li{
        display: block;
        margin-top: 10px;
        margin-bottom: 15px;
        font-size: 13px;
    }
    
    #showcase button{
        position: absolute;
        top: 20px;
        right: 10px;
    }

    .mobile-menu{
        position: absolute;
        top: 0;
        height: 102%;
        width: 100%;
        padding: 7% 5%;
        left: 0;
        background: black;
        z-index: 100;
        overflow: auto;
        transition: 0.5s;
    }

    .mobile-menu ul{
        display:block;
        clear: both;
        float:none;
        text-align:center;
        font-size: 1.3em;
        margin-top: 40px;
    }
    .mobile-menu ul li{
        display: block;
        padding: 20px 40px;
        font-weight: 200;

    }
}